body {
    background-color: #404658 !important;
    font-family: 'PT Sans', 'Helvetica', sans-serif !important;
}
.container {
  height: 100%;
    position: relative;
    .m-loader {
        width: 100px;
        height: 100px;
        display: inline-block;
        position: absolute;
        /* line-height: 126px; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .m-loader:before {
        width: 100px;
        top: 0;
        left: 0;
        height: 100px;
        margin-top: 0;
        margin-left: 0;
        border-top-color: #9ea1ac;
        border-top-width: 10px;
        border-right-width: 20px;
    }
}

.content-loader {
    display: none;
    position: absolute;
    top: 0;
    /* right: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* margin: auto; */
    width: 100%;
    height: 100%;
    background: #ffffff7a;
    z-index: 1000;
    text-align: center;
    box-sizing: border-box;
    /* padding-top: 16vh; */
    /* line-height: 100%; */
}

.m-page--fluid .m-page .m-page__container {
  min-height: calc(100vh - 200px);
}

.content {
    padding-bottom: 30px;

    height:100%;
    position: relative;

   label {
        font-size: 20px;
   }
   input[type=text], textarea {
        font-size: 16px;
   }

  .entity-block {
    padding: 30px 0;
    background-color: #eff0f3;
    border-radius: 6px;
    margin-bottom: 25px;
    position: relative;

    &.orbits {

        padding: 30px;
        padding-bottom: 15px;

        .input-group {
            margin-bottom: 15px;

            input[type=text] {
                padding: 20px 10px;
            }
            .input-group-text {
                font-size: 18px;
                font-weight: bold;
                border-color: #404658;
                background-color: #404658;
                color: #fff !important;
            }
        }
    }
      &.no-back {
          max-width: 800px;
          margin: auto;
          padding: 0;
          background: none;
      }

    > span {
      position: absolute;
      top: 10px;
      left: 15px;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .btn {
    text-transform: uppercase;
    font-size: 17px;
  }
  .m-form .m-form__actions {
    padding: 30px 0;
  }
  .content-loader {
    text-align: center;
  }
  .btn.btn-submit {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .btn.delete-block {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
  }
  div.no-records {
    display:none;
    text-align: center;
    font-size: 18px;
    color: #bbb;
    padding-top: 15px;
  }
  div.newsbar {
    padding-top: 15px;
  }
  .newsbar label {
    font-size: 25px;
  }
    a.nav-link.m-tabs__link {
        width: 100px;
        cursor: pointer;
        font-size: 25px;
        border: none;
    }
    .nav-item .m-tabs__item {
        margin-right: 0;
    }
    .alert.m-alert--default {
        background: #fff9d9;
        color: #000000;
        font-size: 14px;
    }
    .m-tabs-line .m-tabs__item {
        margin-left: 0 !important;
        margin-right: 0;
    }
    .input-group-append.search {
        cursor: pointer;
    }
    .dropdown {
        button.btn {
            width: 200px;
            border: none;
            height: 100%;
            background-color: #6f7482 !important;
            color: #fff;
            font-weight: bold;
            border-radius: 0;
            &.promo {
                width: 300px;
            }
        }
    }
    .inner-wrap {
        background-color: #eff0f3;
        border-radius: 6px;
        padding: 30px 0;
        margin-bottom: 20px;
    }
    .entity-block .dropdown-menu {
        display: block;
        width: 100%;
        font-size: 18px;
    }
    span.trend {
        cursor: pointer;
        user-select: none;
    }
    span.input-group-text.trend.asc {
        border-color: #68ab64 !important;
        background-color: #68ab64 !important;
    }
    span.input-group-text.trend.stab {
        border-color: #929292 !important;
        background-color: #929292 !important;
    }
    span.input-group-text.trend.desc {
        border-color: #e07676 !important;
        background-color: #e07676 !important;
    }
}
