//
//** Global Include
// Include all dependency partials

//== Base Mixins and SASS Functions
@import "base/include";

//== Components
@import "components/base/include";
@import "components/general/include";
@import "components/plugins/include";

body {
    font-size: $font-size-base !important;
    background-color: #404658;
}

label {
    font-size: $font-size-base !important;
}

.select2 {
    font-size: $font-size-base;
}

.select2-container {
    font-size: $font-size-base;
}

.textarea-vertical-line {
    position: absolute;
    border-left: 1.2px solid red;
    height: 100%;
}
